*{
    box-sizing: border-box;
    overflow: hidden;
}
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.header{
    width: 100%;
    background-color: #2c3e50;
    height: 50px;
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    padding-right: 20px;
}

button{
    background-color: white;
    color: black;
    border: 2px;
    border-radius: 10px;
    padding: 4px;
}

button:hover{
    cursor: pointer;
}

.main_container{
    width: 100vw;
    height: 100vh;
}
.top_box, .bottom_box{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    width: 50%;
    height: 30%;
    margin-left: 25%;
    margin-top: 5%;  
    display: flex;
    padding: 10px;
    /* align-items: center; */
}
.box_1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #2c3e50;
    cursor: pointer;
    /* border: 2px solid red; */
    border-radius: 6px;
    width: 50%;
    height: 100%;
}
.box_2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #2c3e50;
    cursor: pointer;
    /* border: 2px solid red; */
    border-radius: 6px;
    width: 50%;
    height: 100%;
    margin-left: 5%;
}
.box_3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #2c3e50;
    cursor: pointer;
    /* border: 2px solid #2c3e50; */
    border-radius: 6px;
    width: 50%;
    height: 100%;
}
.box_4{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #2c3e50;
    cursor: pointer;
    /* border: 2px solid red; */
    border-radius: 6px;
    width: 50%;
    height: 100%;
    margin-left: 5%;
}

.box_1:hover, .box_2:hover, .box_3:hover, .box_4:hover{
    
    transform: scale(1.05);
}

/* .bottom_box{
    border: 2px solid black;
    width: 50%;
    height: 30%;
    margin-left: 25%;
    margin-top: 5%;  
    display: flex;
} */
