<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'authentication/css/users.css' %}">
    <title>Document</title>
</head>
<script>
function redirectToViewAllUsersPage() {
    const token = localStorage.getItem('access');
    console.log('Token: ', token)
    if (!token) {
        alert('No access Token found. Please log in.');
        return;
    }
    fetch('http://127.0.0.1:8000/check_superuser/', {
        method: 'GET',
        headers: {
            'Authorization': `Bearer ${token}`,  // Pass the JWT token in the header
            'Content-Type': 'application/json'
        }
    })
    .then(response => {
        console.log('Response status:', response.status);  // Log the response status
        if (!response.ok) {
            throw new Error('Access denied or request failed');
        }
        return response.json();
    })
    .then(data => {
        window.location.href = 'http://127.0.0.1:8000/view_all_users/';
    })
    .catch(error => {
        console.error('Error:', error);
        alert('An error occurred. Please try again.');
    });
}

function redirectToAddUsersPage(){
    const token = localStorage.getItem('access');
    console.log('Token: ', token)
    if (!token) {
        alert('No access Token found. Please log in.');
        return;
    }
    fetch('http://127.0.0.1:8000/check_superuser/', {
        method: 'GET',
        headers: {
            'Authorization': `Bearer ${token}`,  // Pass the JWT token in the header
            'Content-Type': 'application/json'
        }
    })
    .then(response => {
        console.log('Response status:', response.status);  // Log the response status
        if (!response.ok) {
            throw new Error('Access denied or request failed');
        }
        return response.json();
    })
    .then(data => {
        window.location.href = 'http://127.0.0.1:8000/create_user/';
    })
    .catch(error => {
        console.error('Error:', error);
        alert('An error occurred. Please try again.');
    });
}
</script>
<body>
    <button class="exit_button" onclick="window.location.href = 'http://127.0.0.1:8000/dashboard/'">Exit</button>
    <div class="main_container">
        <div class="view_all_users" onclick="redirectToViewAllUsersPage()">
            <h3>View All Users</h3>
        </div>
        <div class="view_all_users" onclick="redirectToAddUsersPage()">
            <h3>Add New Users</h3>
        </div>
    </div>
</body>
</html>