<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Voters</title>
    <link rel="stylesheet" href="{% static 'css/view_all_voter.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Load jQuery -->
    <script>
        function checkVoter(userId) {
            fetch(`/check_voter/${userId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    alert(data.message);
                    window.location.reload()
                } else {
                    alert("Something went wrong.");
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
    <style>
        .strikethrough {
            text-decoration: line-through;
            color: gray; /* Optional: Change color to indicate strikethrough */
        }
    </style>
</head>
<body>
    <h1>List of All Voters</h1>
    <table>
        <thead>
            <tr>
                <th>Voter ID</th>
                <th>Government Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Father Name</th>
                <th>Gender</th>
                <th>CNIC</th>
                <th>Address</th>
                <th>Mohalla Name</th>
                <th>Mobile Number</th>
                <th>Family Code</th>
                <th>Block Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for voter in voters %}
            <tr class="{% if voter.checked %}strikethrough{% endif %}">
                <td>{{ voter.user_id }}</td>
                <td>{{ voter.government_number }}</td>
                <td>{{ voter.first_name }}</td>
                <td>{{ voter.last_name }}</td>
                <td>{{ voter.father_name }}</td>
                <td>{{ voter.gender }}</td>
                <td>{{ voter.CNIC }}</td>
                <td>{{ voter.address }}</td>
                <td>{{ voter.mohalla_name }}</td>
                <td>{{ voter.mobile_number }}</td>
                <td>{{ voter.family_code }}</td>
                <td>{{ voter.block_number }}</td>
                <td>
                    <button class="check-btn" onclick="checkVoter({{ voter.user_id }})">Check</button>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="11">No voters found.</td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
</body>
</html>
