{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\dashboard.css' %}">
    <title>Dashboard</title>
</head>
<script>
    function redirectToSuperuserPage() {
        const token = localStorage.getItem('access');  // Retrieve token from local storage
        if (!token) {
            alert('No access token found. Please log in.');
            return;
        }

        // Check if the user is a superuser
        fetch('http://127.0.0.1:8000/check_superuser/', {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${token}`,  // Pass the JWT token in the header
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.is_superuser) {
                // User is a superuser, redirect to the superuser page
                window.location.href = 'http://127.0.0.1:8000/create_user/';
            } else {
                alert('You do not have permission to access this page.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred. Please try again.');
        });
    }
</script>

<body>
    

    <div class="main_container">
        <div class="header">
        </div>
        <div class="top_box">
            <div class="box_1" onclick="window.location.href='/users/'">
                <h3>Users</h3>
            </div>
            <div class="box_2" onclick="window.location.href='http://127.0.0.1:8000/view_all_voters/'">
                <h3>Voters</h3>
            </div>
        </div>
        
        <div class="bottom_box">
            <div class="box_3">
                <h3>Election Mode</h3>
            </div>
            <div class="box_4">
                <h3>Election Analytics</h3>
            </div>
        </div>
    </div>
</body>
</html>