<!-- templates/voter/update_block_numbers.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Block Numbers</title>
    <link rel="stylesheet" href="{% static 'css/update_block_number.css' %}">
</head>
<body>
    <button class="exit_button" onclick="window.location.href = 'http://127.0.0.1:8000/election_mode/'">Exit</button>
    <h2>Update Block Numbers for Mohallas</h2>

    <div class="form-container">
        <form method="POST" action="{% url 'update_block_numbers' %}">
           
                 {% csrf_token %}
                {% for mohalla_name in mohalla_names %}
                    <label for="{{ mohalla_name }}">{{ mohalla_name }}:</label>
                    <input type="number" id="{{ mohalla_name }}" name="{{ mohalla_name }}" required>
                    <br>
                {% endfor %}
                
                <button type="submit" class="submit-btn">Update Block Numbers</button>
           
           
        </form>
    </div>
    
</body>
</html>
